* {
    box-sizing: border-box;
}

body{
    background-color: rgb(36, 36, 116);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.repo{
    background-color: rgb(36, 36, 116);
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.repo:hover{
    transform: scale(1.1);
}

.repo:active{
    transform: scale(0.9);
}

.card{
    background-color: rgb(120, 16, 217);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    display: flex;
    margin: 10vh;
    padding: 20px;
    margin: 0 10px;
    box-shadow: rgba(179, 26, 193, 0.4) -5px 5px, rgba(198, 46, 240, 0.3) -10px 10px, rgba(179, 46, 240, 0.2) -15px 15px, rgba(217, 46, 240, 0.1) -20px 20px, rgba(204, 46, 240, 0.05) -25px 25px;
}

.card h2{
    font-size: 4vh;
}

.card h3{
    margin-top: -15px;
    padding: 0;
}

.card ul li{
    list-style-type: none;
}

.card ul{
    display: flex;
    justify-content: left;
}

.card li{
    margin: 1vh;
    justify-content: left;
}

.avatar{
    height: 30vh;
    margin: 2vh;
    border-radius: 360px;
    border: 5px purple solid;
    transition: 0.5s;
}

.avatar:hover{
    transform: scale(1.2) translateX(-20px) translateY(-20px);
}

.avatar:active{
    transform: scale(0.9);
}

.user{
    font-weight: bold;
    margin: 1vh;

}

form{
    display: flex;
    justify-content: center;
}

form img{
    height: 8.5vh;
    border: purple 2px solid;
    border-radius: 360px;
    box-shadow: purple 5px;
}

input{
    background-color: rgb(120, 16, 217);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 80vh;
    margin: 10px;
    padding: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

input::placeholder{
    color: white;
    opacity: 0.6;
}

input:focus{
    outline: none;
    
}